/* 
Feels free to import this in your personal theme 

Contact me on discord if you find new gif that crash discord

zvbt#3380
*/


[href$='tornadus.net/orange'] {
    display: none;
}
[href$='https://gfycat.com/esteemedthirddrake'] {
	display: none;
}
[href$='https://giant.gfycat.com/TartAdolescentBird.mp4'] {
	display: none;
}
[href$='https://gyazo.com/9ad7100f67998a9901326f27765533e8'] {
	display: none;
}
[href$='https://giant.gfycat.com/LeafyRashAmethystgemclam.mp4'] {
	display: none;
}
[href$='https://gfycat.com/actuallikelyabyssiniangroundhornbill'] {
	display: none;
}
[href$='https://gfycat.com/composedbetteralaskanmalamute'] {
	display: none;
}
[href$='https://giant.gfycat.com/WhitePepperyHoatzin.mp4'] {
	display: none;
}
[href$='https://giant.gfycat.com/HarmfulThankfulFrigatebird.mp4'] {
	display: none;
}
[href$='https://cdn.discordapp.com/attachments/842851550471913523/842880105847848980/thanos.mp4'] {
	display: none;
}
[href$='https://cdn.discordapp.com/attachments/459701222149062666/793577049109430302/sexy-thighs.mp4'] {
	display: none;
}
